.loader_container {
  @apply flex h-[80vh] w-full items-center justify-center gap-x-5;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  border-radius: 20px;
  padding: 12px 24px;
  font-size: 3rem;
  background: radial-gradient(circle closest-side, #280671 94%, #ffdb00) right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}
.loader::before {
  content: 'Loading...';
  line-height: 1em;
  font-family: 'Vela-Bold';
  color: #ffdb00;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #fff 94%, #fff);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l24 {
  100% {
    background-position: left;
  }
}
