@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#tooltip-root {
  position: relative;
}

@layer base {
  body {
    background: linear-gradient(180deg, rgba(116, 70, 215, 0.4) 0%, rgba(40, 6, 113, 0.3) 100%),
      radial-gradient(circle at left top, rgba(196, 248, 62, 0.52) 0%, rgba(40, 6, 113, 0.4) 40%),
      radial-gradient(
        circle at right center,
        rgba(40, 6, 113, 0) 0%,
        rgba(40, 6, 113, 0.5) 100%,
        rgba(196, 248, 62, 1) 100%
      ),
      radial-gradient(circle at left center, rgba(127, 0, 85, 1) 70%, rgba(40, 6, 113, 0.2) 100%),
      radial-gradient(circle at right top, rgba(127, 0, 85, 1) 20%, rgba(40, 6, 113, 0.2) 80%);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-height: 100vh;
  }
}
@font-face {
  font-family: 'Vela-Regular';
  src: url(../assets/fonts/VelaSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Vela-Medium';
  src: url(../assets/fonts/VelaSans-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Vela-Bold';
  src: url(../assets/fonts/VelaSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Vela-ExtraBold';
  src: url(../assets/fonts/VelaSans-ExtraBold.ttf) format('truetype');
}
