.container {
  @apply flex flex-col gap-[8px];
}

.label {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.input_wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  @apply bg-grey;
  padding: 13px 24px;
  border: 2px solid transparent;
  border-radius: 12px;
  outline: none;
  flex: 1;

  &:hover,
  &:focus {
    border: 2px solid white;
  }
}

.input[type='date']::-webkit-calendar-picker-indicator {
  background-image: url('@assets/icons/input_calendar.svg');
  background-size: 24px 24px;
  background-position: center center;
}

.input[type='time']::-webkit-calendar-picker-indicator {
  background-image: url('@assets/icons/input_time.svg');
  background-size: 24px 24px;
  background-position: center center;
}

.input_error {
  @apply border-2 border-pink-200 text-pink-200;
  caret-color: rgb(225, 56, 170);

  &:hover,
  &:focus {
    @apply border-pink-200;
  }
}

.password_toggle {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.helper_text {
  @apply text-pink-200;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 6px;
}
