.main_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}

.modal_title {
  @apply flex items-center justify-between gap-x-6;
}

.input_container {
  @apply flex flex-col items-start justify-between gap-y-2;
}

.save_btn {
  @apply mt-5 self-end rounded-[10px] bg-white px-6 py-3 font-vela-bold text-base text-[#370F71] hover:bg-purple-100 hover:text-white active:bg-[#370F71] active:text-white;
}

.form_input {
  @apply rounded-[12px] bg-white bg-opacity-45 p-4 font-vela-bold text-base text-white outline-none focus:outline-2 focus:outline-white;
}
