.header_container {
  padding: 25px 40px;
  max-width: 100vw;
}

.nav_li {
  @apply transition-transform duration-100 active:scale-105;

  &:hover {
    margin-bottom: -2px;
    border-bottom: 2px solid white;
  }
}

.nav_wrapper {
  @apply flex items-center justify-between;
}

.header_img {
  @apply transition-transform duration-100 active:scale-105;
}

.nav_list {
  @apply flex items-center gap-x-14;
}

.nav_li {
  @apply text-center font-vela-medium text-[18px] leading-snug text-white;
}

.buttons_container,
.user_container {
  @apply flex items-center gap-x-[24px];
}

.user_name {
  @apply cursor-pointer py-[10px] pl-[40px] text-center font-vela-bold text-[16px] leading-snug text-white;

  background-image: url('@assets/icons/user.svg');
  background-position: left center;
  background-repeat: no-repeat;
}
