.button {
  @apply cursor-pointer rounded-[10px];
  padding: 12px 24px;
  border: 2px solid transparent;
  width: 100%;
  outline: none;

  &:disabled {
    cursor: auto;
  }
}

.primary {
  @apply bg-white font-vela-bold text-[16px] leading-[22px] text-purple-standart;

  &:hover {
    @apply bg-purple-100 text-white;
  }

  &:active {
    @apply bg-purple-400 text-white;
  }
}

.primary_regular {
  @apply bg-white font-vela-medium text-[16px] leading-[22px] text-purple-standart;

  &:hover {
    @apply bg-purple-100 text-white;
  }

  &:active {
    @apply bg-purple-400 text-white;
  }
}

.secondary {
  background-color: transparent;

  @apply border-2 border-white font-vela-medium text-[16px] leading-[22px];

  &:hover {
    @apply bg-purple-100 text-white;
    border: 2px solid transparent;
  }

  &:active {
    @apply bg-purple-400 text-white;
  }
}

.secondary_regular {
  background-color: transparent;

  @apply border-2 border-white font-vela-medium text-[16px] leading-[22px];

  &:hover {
    @apply bg-purple-100 text-white;
    border: 2px solid transparent;
  }

  &:active {
    @apply bg-purple-400 text-white;
  }
}
