.button {
  @apply cursor-pointer rounded-[10px] font-vela-medium text-[20px] leading-[27px];
  padding: 12px 24px;
  border: 2px solid transparent;
  width: 100%;
  outline: none;

  &:disabled {
    cursor: auto;
  }
}

.primary {
  @apply bg-white font-vela-bold text-[24px] leading-[33px] text-purple-standart;

  &:hover {
    @apply bg-purple-100 text-white;
  }

  &:active {
    @apply bg-purple-400 text-white;
  }
}

.primary_regular {
  @apply bg-white font-vela-medium text-[20px] leading-[27px] text-purple-standart;

  &:hover {
    @apply bg-purple-100 text-white;
  }

  &:active {
    @apply bg-purple-400 text-white;
  }
}

.secondary {
  background-color: transparent;

  @apply border-2 border-white font-vela-medium text-[20px] leading-[1.25];

  &:hover {
    @apply bg-purple-100 text-white;
    border: 2px solid transparent;
  }

  &:active {
    @apply bg-purple-400 text-white;
  }
}

.secondary_small {
  background-color: transparent;

  @apply border-2 border-white px-[24px] py-[8px] font-vela-medium text-[16px] leading-snug;

  &:hover {
    @apply bg-purple-100 text-white;
    border: 2px solid transparent;
  }

  &:active {
    @apply bg-purple-400 text-white;
  }
}

.start_game {
  @apply bg-lime-200 font-vela-bold text-[20px] leading-[27px] text-black;

  &:hover {
    @apply bg-lime-100;
  }

  &:active {
    @apply bg-lime-400;
  }
}

.lead {
  @apply bg-lime-200 font-vela-bold text-[36px] leading-[49px] text-black;

  &:hover {
    @apply bg-lime-100;
  }

  &:active {
    @apply bg-lime-400;
  }
}

.player {
  @apply bg-pink-200 font-vela-bold text-[36px] leading-[49px] text-white;

  &:hover {
    @apply bg-pink-100;
  }

  &:active {
    @apply bg-pink-300;
  }
}
