.container {
  @apply flex max-w-[70vw] flex-col items-start gap-y-6;
}

.modal_title {
  @apply flex w-full items-center justify-between;
}

.cards_container {
  @apply flex w-full items-center justify-between gap-x-[34px] self-center;
}

.green_card {
  @apply flex flex-col items-center justify-center rounded-lg border-2 border-lime-standart px-4 py-[11px] text-center text-lime-standart;
}

.orange_card {
  @apply flex flex-col items-center justify-center rounded-lg border-2 border-orange-standart px-4 py-2 text-center text-orange-standart;
}

.main_container {
  @apply flex w-full flex-col gap-y-4;
}

.description_container,
.leading_container,
.teams_container {
  @apply flex w-full flex-col gap-y-2;
}

.teams_list {
  @apply flex max-h-[100px] flex-col items-center gap-y-4 overflow-auto rounded-[8px] border-[1px] border-white py-2 pl-4 pr-[26px];

  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 8px;

    @apply bg-white bg-opacity-45;
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 8px;
  }
}

.team_card {
  @apply flex w-full items-center justify-between gap-x-2;
}

.next_btn {
  @apply ml-auto w-[100px];
}

.join_btn {
  @apply ml-auto w-[200px];
}
